tmux/.config/tmux/plugins/
zen/.config/zen/ryiqakf9.Default (release)/
zen/.config/zen/x9lu6yt6.Default Profile/
zen/.config/zen/**/*.sqlite
zen/.config/zen/**/*.sqlite-shm
zen/.config/zen/**/*.sqlite-wal
