@define-color accent #ffffff;
@define-color fg #e8e8e8;
@define-color bg #000000;
@define-color bg-alt #191919;

* {
  font-size: 11px;
  min-height: 0;
}

window#waybar {
  background-color: @bg;
  border-bottom: 1px solid @bg-alt;
}

#mode {
  font-family: "GeistMono Nerd Font Mono";
  font-weight: bold;
  color: @accent;
}

#language,
#pulseaudio,
#battery,
#backlight,
#custom-clock {
  font-family: "GeistMono Nerd Font Mono";
  color: @fg;
}

#workspaces {
  font-family: "GeistMono Nerd Font Mono";
  border-bottom: 1px solid @bg-alt;
}

#workspaces button {
  padding: 4px 8px 4px 8px;
  color: @fg;
  background-color: @bg;
  border: none;
}

#workspaces button:hover {
  background: none;
  border: none;
  border-color: transparent;
  transition: none;
}

#workspaces button.focused {
  border-radius: 0;
  color: @accent;
  font-weight: bold;
}

#tray {
  font-family: "Ubuntu";
  padding-right: 5px;
  padding-left: 10px;
}
